body {
    margin: 0;
    background-color: #f4423e;
}

.container {
    width: 972px;
    margin: 0 auto;
    background-color: white;
}

.header {
    height: 170px;
    display: flex;
    background-color: #dadfe3;
}

.logo {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background-color: #adb2b8;
    margin: 30px 140px 0 72px;
}

.menu>nav>ul{
    padding: 0;
    margin: 0;
}

.menu>nav>ul>li {
    width: 105px;
    height: 22px;
    display: inline-block;
    list-style: none;
    border-radius: 6px;
    background-color: #adb2b8;
    margin-top: 93px;
    margin-right: 50px;
}

.hero {
    height: 615px;
    background-color: #dadfe3;
}

.hero-title, .hero-text {
    border-radius: 6px;
    background-color: #adb2b8;
    margin: 0 auto;
    position: relative;
}

.hero-title {
    width: 358px;
    height: 35px;
    margin-bottom: 10px;
    top: 126px;
}

.hero-text {
    width: 453px;
    height: 35px;
    top: 126px;
}

.hero-search {
    display: flex;
}

.hero-search-one, .hero-search-two {
    position: relative;
}

.hero-search-one {
    height: 62px;
    width: 514px;
    border-radius: 31px;
    background-color: white;
    top: 161px;
    left: 182px;
}

.hero-search-two {
    width: 242px;
    height: 80px;
    border-radius: 40px;
    background-color: #adb2b8;
    top: 151px;
    left: 39px;
}

.destinations-block {
    width: 595px;
    margin: 45px auto 75px auto;
}

.destinations-title {
    width: 595px;
    height: 45px;
    background-color: #adb2b8;
    border-radius: 8px;
}

.destinations-text-one {
    width: 446px;
    height: 23px;
    background-color: #c3c8cc;
    border-radius: 6px;
    margin: 15px auto 15px auto;
}

.destinations-text-two {
    width: 323px;
    height: 23px;
    background-color: #c3c8cc;
    border-radius: 6px;
    margin: 0 auto;
}

.destinations-content {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.wrap, .wrap-one {
    height: 259px;
    background-color: #dadfe3;
}

.wrap {
    width: 314px;
}

.wrap-one {
    width: 642px;
}

.content {
    margin: 105px auto;
}

.wrap-one>.content {
    margin: 98px auto;
}

.content-one, .content-two, .content-tree, .content-four {
    margin: 0 auto;
    border-radius: 4px;
    background-color: #c3c8cc;
}

.content-one, .content-tree {
    height: 23px;
}

.content-four, .content-two {
    height: 15px;
    margin-top: 12px;
}

.content-one {
    width: 191px;
}

.content-two {
    width: 122px;
}

.content-tree {
    width: 360px;
}

.content-four {
    width: 292px;
}

