body {
    background-color: #e4e4e4;
}

div {
    height: 100px;
    width: 100px;
    background-color: #ffaa00;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-top: 42px;
    text-align: center;
    border: 1px solid #ba8e44;
}

.squareA {
    box-shadow: 10px 10px 0 0 #464646;
    border-right: 1px solid #636b73;
    border-bottom: 1px solid #636b73;
}

.squareB {
    box-shadow: 10px 10px 5px 0 #464646;
    border-left: 1px solid #636b73;
    border-bottom: 1px solid #636b73;
}

.squareC {
    box-shadow: 10px 10px 5px 3px #464646;
    border-right: 1px solid #636b73;
    border-bottom: 1px solid #636b73;
}

.squareD {
    box-shadow: 10px 10px 5px 3px #9e9e9e;
    border-right: 1px solid #636b73;
    border-bottom: 1px solid #636b73;
}

.squareE {
    border-radius: 5px;
    box-shadow: 10px 10px 5px 3px #464646;
    border-left: 1px solid #636b73;
    border-bottom: 1px solid #636b73;
}

.squareF {
    border-radius: 5px;
    box-shadow: 10px 10px 5px 3px #9e9e9e;
    border-right: 1px solid #636b73;
    border-bottom: 1px solid #636b73;
}