body {
    margin: 0;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.header {
    height: 100px;
    background: #0F64A5;
}

.nav {
    height: 60px;
    background: #124A79;
}

.main, .aside {
    height: 300px;
}

.main {
    width: 450px;
    background: #16A2C5;
}

.aside {
    width: 150px;
    background: #5275AD;
}

.footer {
    height: 60px;
    background: #7DCDE4;
}

.menu {
    display: flex;
}