body {
    background-color: #252525;
    font-family: sans-serif;
}

div {
    height: 50px;
    width: 200px;
    border-radius: 30px;
    margin: 10px auto;
}

p {
    text-align: center;
}

.figure-one {
    margin-top: 175px;
    border: 5px solid #ff6e1d;
    color: #ff6e1d;
}

.figure-two {
    border: 5px solid #2cfff2;
    color: #2cfff2;
}

.figure-tree {
    border: 5px solid #ff54a6;
    color: #ff54a6;
}

.figure-four {
    border: 5px solid #ff3e3e;
    color: #ff3e3e;
}

