h1 {
    background-color: #892726;
    color: #f8edcd;
    text-align: center;
}

p {
    margin: 0;
}

.paragraph-one {
    background-color: #c0c0c0;
    text-align: justify;
    padding: 15px;
}

.paragraph-two {
    background-color: #6395ec;
    padding: 40px 0;
}

div {
    width: 225px;
    height: 225px;
}

.target-one {
    background-color: #6bba67;
}

.target-two {
    background-color: #8886ab;
    border-radius: 25px;
}