body {
    margin: 0;
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
}

.df {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

.header {
    min-height: 83px;
    padding: 0 32px;
    justify-content: space-between;
}

.header-logo {
    padding: 16px 0;
}

.header-logo > p {
    margin: 0;
    font-size: 12px;
}

.header-nav1  {
    max-width: 618px;
    justify-content: space-between;
}

.header-nav1 > div:not(:last-child) {
    margin-right: 48px;
}






.cg-8 {
    column-gap: 8px;
}

.header-nav2 {
    column-gap: 24px;
}

.td-n {
    text-decoration: none;
    color: black;
}

.btn, .btn1, .btn3 {
    width: 163px;
    min-height: 54px;
    border-radius: 4px;
    text-align: center;
    padding-top: 16px;
}

.btn2 {
    width: 156px;
    height: 54px;
    border: 1px solid #0B2330;
    border-radius: 4px;
    text-align: center;
    padding-top: 16px;
    margin-left: 16px;
}

.btn1 {
    background-color: #F9C600;
}

.btn {
    background-color: #0B2330;
}

.btn > a {
    color: white;
}

.content1 {
    justify-content: space-between;
}

.content1-text {
    width: 58%;
    padding-left: 147px;
    padding-top: 154px;
}

.content1-text > h1 {
    max-width: 436px;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    margin: 0 0 32px 0;
}

.content1-text > p {
    max-width: 436px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    margin: 0 0 38px 0;
}

.content1-foto {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20%;
    display: block;
    height: auto;
    max-width: 100%;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}


.yellow-block {
    width: 42%;
    min-height: 886px;
position: relative;
    background-color: #F9C600;
}

.content2 {
    padding: 190px 0;
}

.content2 > h2 {
    max-width: 546px;
    font-size: 42px;
    line-height: 48px;
    font-weight: normal;
    text-align: center;
    margin: 0 auto 59px auto;
}

.companies_logo {
    max-width: 1192px;
    margin: 0 auto;
    justify-content: space-between;
}

.mb16 {
    margin-bottom: 16px;
}

.content3-wrapper {
    padding-left: 35px;
    padding-right: 35px;
}

.content3 {
    min-height: 494px;
    padding-right: 120px;;
    margin: 0 auto 191px auto;
    background-color: #02cfbd;
    border-radius: 10px;
    color: #0B2330;
}

.content3 > div > img {
    display: block;
    max-width: 678px;
    height: auto;
}

.content3-text {
    padding: 114px 0 0 20px;
}

.p1 {

    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    margin: 0 0 35px 0;
}

.p2 {
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
}

.content4 {
    max-width: 911px;
    margin: 0 auto;
}

.content4 > img {
    max-width: 100%;
    display: block;
    height: auto;
    margin-bottom: 113px;
}

.p3 {
    width: 711px;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto 57px auto;
}

.btn3 {
    background-color: #F9C600;
    margin: 0 auto 160px auto;
}