body {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 500px;
}

.contact, .widgets {
    background-color: #2269bb;
}

.widgets {
    height: 205px;
}

.target {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.target > div {
    width: 155px;
    height: 188px;
    background-color: #16457a;
}

.contact {
    height: 410px;
}