body {
    margin: 0;
}

.container {
    width: 258px;
    margin: 0 auto;
}

#header, #menu, .post, #footer {
    border: 2px solid black;
}

#header {
    height: 50px;
    background-color: #e6f7b0;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

#menu {
    width: 74px;
    background-color: #ffb7ff;
}

.post {
    height: 94px;
    width: 169px;
    background-color: #9fe2ff;
}

.post:first-child {
    margin-bottom: 10px;
}

#footer {
    height: 50px;
    background-color: #ffffca;
}

