body {
    margin: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
    background-color: #9e9e9e;
}

#header {
    height: 100px;
    background-color: #ffd920;
}

.main {
    display: flex;
    margin: 10px 0;
}

#menu {
    width: 195px;
    height: 410px;
    background-color: #892726;
    margin-right: 10px;
}

.post {
    height: 200px;
    width: 795px;
    background-color: #ff3e3e;
}

.post:first-child{
    margin-bottom: 10px;
}

#footer {
    height: 100px;
    background-color: #2cfff2;
}

